/* Remove margens e paddings globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Garante que a aplicação ocupe 100% da tela */
  html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Evita barras de rolagem horizontais */
  }
  
  /* Garante que a div .app ocupe toda a largura da tela */
  .app {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  